@media screen and (max-width: 767px) and (min-width: 0px){

    .footer {
        padding: 0rem 0 2rem;
    }
    
    .footer__container.container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 1rem;
    }
    .footer__container-1.container {
        gap: 1rem;
    }

    form.container__column {
        width: 90vw;
        padding: 0rem;
    }

    .footer__container-1.container {
        align-items: center;
        flex-direction: column;
    }
    .form__titulo {
        font-size: 1.3rem;
        font-weight: 700;
        text-align: start;
        padding-top: 2rem;
    }
}