
.footer{
    padding: 2rem 0 2rem;
}
form{
    outline: none;
    border:none;
}
.footer__container {
    justify-content: space-around;
    align-items: flex-start;
    background-color: #EAF2FD;
    padding: 4rem 0;
}
.footer__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
}
.footer__list {
    color: #464646;
    line-height: 2.5;
}form.container__column {
    width: 40vw;
}
.form__input__nombre {
    border-bottom: 1px solid #46464660;
}

.input__mensaje {
    resize: none;
    height: 6rem;
    margin-bottom: 1rem
}
.input__mensaje::placeholder {
    position: absolute;
    margin: 0.2rem 0.2rem;
}
.from__btn {
    width: max-content;
    padding: 1rem;
    color: #ffffff;
    background-color: #2a7ae4;
    border: none;
}
.p__autor {
    text-align: center;
    padding-top: 4rem;
    line-height: 1.5;
}
.autor__nombre{
    color: #2a7ae4;
    font-weight: 500;
}
.copy{
    color: #2a7ae4;
    font-size: 1.2rem;
}
h1.form__titulo {
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: 700;
}
.footer__container-1.container {
    align-items: flex-start;
    gap: 7rem;
}