@media screen and (max-width: 767px) and (min-width: 0px){


    .coleccion__container {
        padding: 1rem 1rem;
    }
    .colection__barra.container {
        font-size: 1rem;
    }
    .coleccion__tarjeta.container__column {
        width: 43vw;
    }
    img.coleccion__contenido__img {
        width: 43vw;
        height: 43vw;
    }
    .coleccion__container__tarjetas.wrap {
        overflow-y: scroll;
        height: 67.5vw;
        gap: 0;
        justify-content: space-between;
        }
  

}