@media screen and (max-width: 767px) and (min-width: 0px){


    .coleccion__container {
        padding: 2rem 1rem;
    }
    .colection__barra.container {
        font-size: 1rem;
    }
    .coleccion__tarjeta.container__column {
        width: 43vw;
        margin-bottom: 2rem;
    }
    div.coleccion__container__tarjetas.wrap {
        height: 60vw;
        gap: 0;
        justify-content: space-between;
        }
  

}