input.input {
    border-bottom: 1px solid #46464660;
    outline: none;
}
textarea.input {
    border-bottom: 1px solid #46464660;
    outline: none;
}
.formulario {
    margin-top: 2rem;
  }
  
  .form__label {
    
    margin-bottom: 1rem;
  }
  
  .input-container {
   
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
  }
  
  .input {
    box-sizing: border-box;
    
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
  }
  
  .input::placeholder {
    visibility: hidden;
    color: #00000000;
  }
  
  .input:focus {
    outline: none;
  }
  
  .input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    
  
    transition: all 0.25s;
  }
  
  .input:not(:placeholder-shown) + .input-label,
  .input:focus + .input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
  }
  
  .input-container--invalid {
    margin-bottom: 0.5rem;
  }
  
  .input-container--invalid .input {
    
    border-radius: 7px;
  }
  
  .input-container--invalid .input-label {
    
  }
  
  .input-message-error {
    display: none;
  }
  
  .input-container--invalid .input-message-error {
    
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }
  
  .textarea {
    box-sizing: border-box;
    resize: none;
    padding: 0.5rem;

    width: 100%;
    min-height: 3rem;
  }
  
  .textarea-container {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
 
  }
  
  .textarea::placeholder {
    visibility: hidden;
  }
  
  .textarea:focus {
    outline: none;
  }
  
  .textarea-label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    
    transition: all 0.25s;
  }
  
  textarea#productoDescripcion {
    padding: 5rem 0;
    overflow: hidden;
}

  .textarea:not(:placeholder-shown) + .textarea-label,
  .textarea:focus + .textarea-label {
    font-size: 0.875rem;
    top: -1.25rem;
    transition: all 0.25s;
  }
  
  .textarea-container--invalid {
    margin-bottom: 0.5rem;
  }
  
  .textarea-container--invalid .textarea {
    
  }
  
  .textarea-container--invalid .textarea-label {
    
  }
  
  .textarea-mensagem-erro {
    display: none;
  }
  
  .textarea-container--invalid .textarea-mensagem-erro {
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }
  