@media screen and (max-width: 767px) and (min-width: 0px){

    div.login {
        padding: 10rem 6rem;
    }

    from.login__form.container__column {
        width: 90vw;
        padding: 0rem;
    }

}