.agregar-producto {
    display: flex;
    justify-content: center;
    padding: 10rem 0;
}

.form__producto__btn{
    padding: 1rem;
    color: #ffffff;
    background-color: #2a7ae4;
    border: none;
}
button.head__boton.btn {
    padding: 1rem 2rem;
}
